<p id="notice"><%= notice %></p>

<% @comments.each do |comment| %>


<div class="post">

  <%
  @post = Post.find(comment.post_id)
  %>
  <%=render @post%>
  <%=comment.body%>
  <div class="post_controls">
    <%= link_to 'Delete', [comment.post, comment],
        :confirm => 'Sure?', :method => :delete%>
  </div>
</div>


<% end %>
