<br>

<div class="container-fluid about-page">

    <div class="row">
        <%= image_tag "myself.jpg", alt: "Alex B.", class: "img-circle avatar" %>
       
        <div> 
          <h4>Code = art();</h4>
        
          Alex B., IT Security Research and Software Developer with knowledge
          in several programing languages for web and desktop. My passion is
          to learn and keep updated to the new technologies constantly, 
          and this will be the place where I will share some of the results.

        </div>

        <div style="clear:both;">
          <br>
          <strong>Last post</strong>
          <br>
          Switching my carreer to Information Security 
          <a href="/posts/16">[...]</a>
        </div>

        <div>
          <br>
          <strong>Social</strong>
          <br>
          For resume and professional information, please visit my 
          <a href="https://www.linkedin.com/in/alexertech/">LinkedIn</a>,
          and general contact via twitter at 
          <a href="http://twitter.com/alexertech">@alexertech</a>
        </div>

    </div>

</div>

<br>
