<br>

<div class="container-fluid about-page">

    <div class="row">
        <%= image_tag "myself.jpg", alt: "Alex B.", class: "img-circle avatar" %>
        <h4>Code = art();</h4>
        Hola! Soy Alex B. investigador de seguridad informática y desarrollador en varios lenguajes 
        de programación tanto para escritorio como Web. Me apasiona aprender y actualizarme constantemente
        por lo que compartiré acá un poco de los resultados de cada proyecto.
        
    </div>

</div>

<br>
