<br>

<div class="container-fluid about-page">

    <div class="row">
        <%= image_tag "myself.jpg", alt: "Alex B.", class: "img-circle avatar" %>
       
        <div> 
          <h4>Code = art();</h4>
          Alex B., investigador de seguridad informática y desarrollador en 
          varios lenguajes de programación tanto para escritorio como Web.
          Me apasiona aprender y actualizarme constantemente por lo que 
          compartiré acá un poco de los resultados de cada proyecto.
        </div>

        <div style="clear:both;">
          <br>
          <strong>Último post</strong>
          <br>
          Cómo cambiar de carrera a seguridad informatica 
          <a href="/posts/16">[...]</a>
        </div>

        <div>
          <br>
          <strong>Social</strong>
          <br>
          Para información curricular detallada visita mi 
          <a href="https://www.linkedin.com/in/alexertech/">LinkedIn</a>.
          y contacto general por twitter: 
          <a href="http://twitter.com/alexertech">@alexertech</a>
        </div>

    </div>

</div>

<br>
