<br>

<div class="container-fluid about-page">

    <div class="row">
        <%= image_tag "myself.jpg", alt: "Alex B.", class: "img-circle avatar" %>
        <h4>Alex B.</h4>
        Soy un investigador, siempre buscando algo nuevo para aprender. Mi enfoque 
        principal es la Seguridad Informática, el Desarrollo Web y el Modelado en 3D. 
        Si, tres áreas completamente opuestas, pero son exactamente los campos que me gustan.
    </div>

</div>

<br>
