
<div class="container-fluid tags_main">

  <div class="row">
    <div class="col-md-12 tags_title">
      <h4>#<%= @tag.name %></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 tags_list">
      <ul>
			<%= render @posts %>
      </ul>
    </div>
  </div>

	<div class="row">
	  
    <div class="col-md-12 tags_controls">
      <%= link_to 'Back', posts_path %>
    </div>
  </div>

	<br>
</div>

