
<div class="post">

  <div class="post_title">
    Editing Post
    <div class="post_controls"><%= link_to 'Show', @post %> | <%= link_to 'Back', posts_path %></div>

  </div>

  <%= render 'form', post: @post %>

</div>
