<div class="container-fluid post_main">
  <br>  
  <%= render 'form', post: @post %>

	<div class="row">
			<div class="col-md-4 post_controls">
        <%= link_to 'Show', @post %>
				| <%= link_to 'Back', posts_path %>
			</div>
	</div>
	<br>
</div>

