<br>

<div class="container-fluid about-page">
  
  <div class="row">

    <h4>What I'm doing now?</h4>
    
    <ul>
      <li>Deep diving into Laravel, and actually enjoying the ride.</li>
      <li>Researching about Financial Freedom and Minimalism.</li>
      <li>Dating with my wife and trying to not going insane with my two kids.</li>
      <li>Working full-time in a well-known security company.</li>
    </ul>
    
    Reading: <em>A Study in Scarlet by Arthur Conan Doyle</em><br>
    Listening <em>Rich Dad, Poor Dad by Robert T. Kiyosaky</em>


    <br><br>

    If you have any idea or project and want to talk about it, you can always reach me via Twitter at 
    <a href="http://twitter.com/alexertech">@alexertech</a>.
    
    <br><br>
    
    This is a "now" page, inspired by  
    <a href="https://zenhabits.net/now/">Leo Babauta</a> y
    <a href="https://sivers.org/now">Derek Sivers</a>.


    <div style="margin-top:10px;font-size:x-small;font-style:italic">
    Updated 02/01/2019
    </div> 

	</div>
</div>

<br>
