<br>

<div class="container-fluid about-page">
  
  <div class="row">

    <h4>What I'm doing now?</h4>
    
    <ul>
      <li>Studyng the internals of Debian GNU/Linux and Kali Linux for my KLCP.</li>
      <li>Practice Bootstrap and Rails. </li>
      <li>Research about reverse engineer and exploitation.</li>
      <li>Learning about macro and micro nutrients on a vegetarian diet.</li>
      <li>Fixed: Living in Chile with my beloved wife and my two kids.</li>
      <li>Fixed: Working fulltime in a well-known security company.</li>
      <li>Reading: Amazing Histories - Compilation of Edgar Allan Poe</li>
    </ul>
    This are my priorities. IF you have any idea or project that you want to talk
    or just a hand, let's talk about it via Twitter at 
    <a href="http://twitter.com/alexertech">@alexertech</a>.
    
    <br><br>
    
    This is a "now" page, inspired by  
    <a href="https://zenhabits.net/now/">Leo Babauta</a> y
    <a href="https://sivers.org/now">Derek Sivers</a>.


    <div style="margin-top:10px;font-size:x-small;font-style:italic">
    Updated 30/04/18
    </div> 

	</div>
</div>

<br>
