<br>

<div class="container-fluid about-page">
  <div class="row">

    <h4>Que estoy haciendo?</h4>
    <ul>
      <li>Creando y Grabando contenido educativo para el canal de YouTube y este blog.</li>
      <li>Investigando sobre "Machine Learning".</li>
      <li>Citas, Netflix y GoT con mi esposa ademas de no enloquecer con mis hijos.</li>
      <li>Trabajando a tiempo completo en una conocida compañía de seguridad.</li>
    </ul>
    Leyendo:<br>
    <em>"Estudio en Escarlata" de Arthur Conan Doyle</em><br>
    Audiolibro:<br>
    <em>"Sapiens: De animales a dioses" de Yuval Noah Hararu</em>
  </div>
  <div class="row" style="font-size:small;padding-bottom:20px;">
    Esta es una página "Ahora" (Now) inspirada en:
    <a href="https://zenhabits.net/now/">Leo Babauta</a> y
    <a href="https://sivers.org/now">Derek Sivers</a>. Actualizado: 19/04/2019
  </div>
</div>

<br>
