<br>

<div class="container-fluid about-page">
  
  <div class="row">

    <h4>What I'm doing now?</h4>
    
    <ul>
      <li>Deep diving into Ruby on Rails and Laravel. Loving them both.</li>
      <li>Research about reverse engineering and exploitation.</li>
      <li>Study Debian GNU/Linux and Kali Linux for my KLCP.</li>
      <li>Community management and Twitch Channels Research for educational project.</li>
      <li>Fixed: Living in Chile with my beloved wife and my two kids.</li>
      <li>Fixed: Working full-time in a well-known security company.</li>
    </ul>
    
    Reading: <em>2001 a Space Odyssey</em>

    <br><br>

    This are my priorities. If you have any idea or project and want to talk about
    it, you can always reach me via Twitter at 
    <a href="http://twitter.com/alexertech">@alexertech</a>.
    
    <br><br>
    
    This is a "now" page, inspired by  
    <a href="https://zenhabits.net/now/">Leo Babauta</a> y
    <a href="https://sivers.org/now">Derek Sivers</a>.


    <div style="margin-top:10px;font-size:x-small;font-style:italic">
    Updated 28/06/18
    </div> 

	</div>
</div>

<br>
