<br>

<div class="container-fluid about-page">
  
  <div class="row">

    <h4>Que estoy haciendo ahora?</h4>
    
    <ul>
      <li>Estudio detallado de Debian GNU/Linux y Kali Linux para KLCP.</li>
      <li>Practicando Bootstrap y Rails. </li>
      <li>Investigando acerca de ingeniería reversa y explotación.</li>
      <li>Aprendiendo de macro y micro nutrientes en una alimentación vegetariana.</li>
      <li>Fijo: Viviendo en Chile con mi amada esposa y mis dos bebes.</li>
      <li>Fijo: Trabajo a tiempo completo en una reconocida empresa de seguridad informática.</li>
      <li>Lectura: Historias extrordinarias - Recopliación de Edgar Allan Poe</li>
    </ul>
    
    Estas son mis prioridades. Si tienes alguna idea o proyecto y quieres apoyo, o simplemente 
    conversar al respecto, podemos conectar vía Twitter <a href="http://twitter.com/alexertech">@alexertech</a>.
    <br><br>
    Esta es una página "now" (ahora), inspirada en 
    <a href="https://zenhabits.net/now/">Leo Babauta</a> y
    <a href="https://sivers.org/now">Derek Sivers</a>.


    <div style="margin-top:10px;font-size:x-small;font-style:italic">Actualizado el 30/04/18</div> 

	</div>
</div>

<br>
