<div class="container-fluid">

      <div class="col-sm-4">
        <%= image_tag "myself.jpg", alt: "Alex B.", class: "img-circle avatar" %>
      </div>

      <div class="col-sm-8">

        <div class="container-fluid">
            <h4>Alex B.</h4>
            <!-- I'm a researcher, always looking for something new to learn, with a main focus in Information Security, Web development and 3D Modeling. Yeah, three completely oposing areas, but those are exactly the fields that I love. -->

            Soy un investigador, siempre buscando algo nuevo para aprender. Mi enfoque principal es la Seguridad Informática, el Desarrollo Web y el Modelado en 3D. Si, tres áreas completamente opuestas, pero son exactamente los campos que me gustan.
        </div>

        <br/>

        <div class="container-fluid">
            <!--<h4>What I’m Doing Now</h4>
            <ul>
                <li>I’m living in Chile with my lovely wife and my two little ones.</li>
                <li>Full-time employee in an InfoSec company.</li>
                <li>Researching about exploitation and reverse engineering.</li>
                <li>Practicing 3D modeling and texture paiting with Blender.</li>
                <li>Practicing Web development with Ruby on Rails, to update my coding skills after 10 years of PHP/Java development. </li>
                <li>Working on several articles for this blog. </li>
                <li>Flexibility and phisical strength training, meditating, learning to eat healthy food</li>
            </ul>
            These are my priorities. If you have any idea or project and want me to join and develop it, lets connect via Twitter <a href="http://twitter.com/alexertech">@alexertech</a>.-->

            <h4>Qué estoy haciendo ahora?</h4>
            <ul>
                <li>Viviendo en chile con mi amada esposa y dos chiquillos.</li>
                <li>Trabajo a tiempo completo en una compañía de seguridad informática.</li>
                <li>Investigaciones acerca de ingeniería reversa y explotación.</li>
                <li>Practicando modelado 3D y texturización en Blender.</li>
                <li>Practicando desarrollo Web con Ruby On RAils, para actualizarme luego de 10 años en desarrollo con PHP/Java. </li>
                <li>Trabajando en un proyecto de seguridad informática para principiantes. </li>
                <li>Intentando conseguir mayor flexibilidad y fuersza física, entrenando, meditando y aprendiendo a comer más saludable.</li>
            </ul>
            Esas son mis prioridades. Si tienes alguna idea o proyecto y quieres que te ayude a desdarrollarlo, o simplemente para conversar, podemos conectar por Twitter <a href="http://twitter.com/alexertech">@alexertech</a>
        </div>

      </div>
    </div