<br>

<div class="container-fluid about-page">
  
  <div class="row">

    <h4>Qué estoy haciendo ahora?</h4>
    
    <ul>
      <li>Investigando acerca de ingeniería reversa y explotación.</li>
      <li>Desarrollando contenido para éste sitio.</li>
      <li>Viviendo en Chile con mi amada esposa y dos chiquillos.</li>
      <li>Trabajo a tiempo completo en una reconocida empresa de seguridad informática.</li>
      <li>Trabajando en un proyecto de seguridad informática para principiantes. </li>
      <li>Intentando conseguir mayor flexibilidad y fuerza física, además de una alimentación vegetariana.</li>
    </ul>
    
    Estas son mis prioridades. Si tienes alguna idea o proyecto y quieres apoyo, o simplemente 
    conversar al respecto, podemos conectar vía Twitter <a href="http://twitter.com/alexertech">@alexertech</a>.
    <br><br>
    Esta es una página "now" (ahora), inspirada en 
    <a href="https://zenhabits.net/now/">Leo Babauta</a> y
    <a href="https://sivers.org/now">Derek Sivers</a>.

	</div>
</div>

<br>
