/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
  *= require font-awesome
 */

.container-fullw {
	padding:0px!important;
	margin:0px!important;
}

body {
    color             : #000!important ;
    background-color  : #444!important ;
    text-align        : justify;
}

img {
    max-width: 100%!important;
}

input, textarea, select {
    border             : none;
    border-left        : 1px solid #0b467f;
    border-bottom      : 1px solid #0b467f;
    padding            : 5px;
}

input {
}

textarea {
}

p {
}

p#notice{
  text-aling:center;
}

.post_body {
  background-color:#fff;
}

.post_date{
}

.post_title {
}

.post_controls {
  text-align:right;
}

.user-navbar{
  text-align:right;
  color:#fff;
}
.user-navbar a{
  background-color  : #444;
  color:#fff;
  text-decoration: underline;
}

.site-logo {
}
	
.site-navbar {
  text-align:center;
  font-size:small;
  font-family:monospace;

  background-color  : #000;
  color:#fff;

}
.site-navbar a{
  color:#fff;
  text-decoration: none;
}

.site-footer {

}


#user_bar{
  padding:5px;
  text-align:right;
  background-color  : #444;
  color:#fff;
  margin:0!important;
  padding:0!important;
  
}
div#logo{
  background-color  : #444;
  margin:0 0 -5px 0;

}




div#slogan {
    text-align:center;
    font-size:small;
    font-family:monospace;
    padding:5px;
    background-color  : #000;
    color:#fff;
  }

div#user_bar a, div#slogan a{
  color:#fff;
}

div#slogan strong{
  font-size : 1.2em;
}

div.post{
  padding:30px;
  border-bottom : 30px solid #444;
}

div.post_title {
  padding-bottom:10px;
  font-size:1.8em;
}
div.post_controls {
  float:right;
  font-size:small;
}

div.post_date {
  font-style:italic;
  font-size:small;
}

div.post_actions,
div.post_comments,
div.post_add_comment  {
  padding-top:20px;
}

div.login_form {
  padding:30px;
}

div.post_list {
  padding:30px;
}
div.post_list div {
  padding : 5px 0 5px 0;
}
div.tag_title{
  padding:30px;
  padding-bottom: 0;
  font-size:1.8em;
}
div.tag_title div {
  font-size:small;
}
div.post_tags{
  padding-top:20px;
}

a.link_logo:hover{
  text-decoration: none;
  border:0;
}
