/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
  *= require font-awesome
 */


/* --- Bootstrap tweaks --- */ 

.container-fullw {
	padding:0px!important;
	margin:0px!important;
}


/* --- General tags overrides --- */

body {
    color             : #000!important ;
    background-color  : #444!important ;
    text-align        : justify;
}

img {
    max-width: 100%!important;
}

input, textarea, select {
    border             : none;
    border-left        : 1px solid #0b467f;
    border-bottom      : 1px solid #0b467f;
    padding            : 5px;
}

input {
}

textarea {
}

p {
}


/* --- Rails tags --- */

.user-navbar{
  text-align:right;
  color:#fff;
  margin: 10px 0 10px 0;
}

.user-navbar a{
  background-color  : #444;
  color:#fff;
  text-decoration: underline;
}

p#notice{
  text-aling:center;
}


/* --- Main Layout --- */

.site-navbar {
  text-align:center;
  font-size:small;
  font-family:monospace;
  background-color  : #000;
  color:#fff;

}
.site-navbar a{
  color:#fff;
  text-decoration: none;
}

.site-body {
  background-color:#fff;
}

.site-footer {
	 text-align:center;
   color:#fff;
	 margin: 10px 0 10px 0;
}


/* --- Posts --- */

.post_date{
	font-size:0.9em;
	text-align:right;
}

.post_title {
	margin-top:10px;
  padding-bottom:10px;
  font-size:1.8em;
}

.post_tags {
	font-size:0.9em;
	text-align:right;
}

.post_controls {
}

